<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quora Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>What's new??</h2>
    <div>
        <form method="post" action="/posts">
        <input placeholder="enter username" name="username" > <br><br>
        <textarea placeholder="What's on your mind?" name="content"></textarea>
        <br>
        <button>Post</button>
    </form>
    </div>
</body>
</html>